*{
    box-sizing: border-box;
}
body{
    margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  overflow-x: hidden;
}

.myContainer {
  background-color: white;
  transition: linear;
}

.myContainer.show-nav {
  transform: rotate(-10deg);
  transform-origin: top left;
  transition: transform 0.1s linear;
}

.myContainer.show-nav + .myNav {
  z-index: 1;
}

.open {
  display: block;
}

.close {
  display: none;
}

.myContainer.show-nav + .open {
  display: none;
}

.myNav {
  z-index: -1;
  position: fixed;
  bottom: 40px;
  left: 20px;
}

.myHeader {
  height: fit-content;
  border-bottom: 1px solid #fb271b;
}

.circle {
  z-index: 1;
  position: fixed;
  top: -5vw;
  left: -5vw;
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
  background-color: #fb271b;
}
.icon {
  z-index: 2;
  position: fixed;
  top: 0.5vw;
  left: 0.5vw;
  font-size: 2vw;
  color: #fce4ab;
  background-color: transparent;
  border: 0;
}

.carousel-img {
  margin-top: 25%;
  cursor: pointer;
  transition: transform 0.5s ease, width 0.5s ease;
  border: solid 1px #fb271b;
}

.active {
  z-index: 1;
  transform: scale(1.5);
}

.active {
  z-index: 1;
  transform: scale(1.5);
}

.myIcons {
  margin-top: 5%;
}

.h3-title {
  font-family: "EB Garamond", serif;
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
}

.myFooter {
  height: 20px;
  border-top: 1px solid #fb271b;
}
